# Normalize EOL for all files that Git considers text files.
.exe filter=lfs diff=lfs merge=lfs -text
.pck filter=lfs diff=lfs merge=lfs -text
.x86_64 filter=lfs diff=lfs merge=lfs -text
.wasm filter=lfs diff=lfs merge=lfs -text
/export/linux/Lightkeepers.x86_64 filter=lfs diff=lfs merge=lfs -text
/export/web/lightkeepers.side.wasm filter=lfs diff=lfs merge=lfs -text
/export/windows/Lightkeepers.exe filter=lfs diff=lfs merge=lfs -text
/exports/linux/Lightkeepers.x86_64 filter=lfs diff=lfs merge=lfs -text
/exports/web/lightkeepers.side.wasm filter=lfs diff=lfs merge=lfs -text
/exports/windows/Lightkeepers.exe filter=lfs diff=lfs merge=lfs -text
/exports/linux/Lightkeepers.pck filter=lfs diff=lfs merge=lfs -text
/exports/web/lightkeepers.pck filter=lfs diff=lfs merge=lfs -text
